<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
{% feed_meta %}
{% seo %}



<!--	<meta name="description" content="{block:IndexPage}{block:Description}{MetaDescription}{/block:Description}{/block:IndexPage}{block:PermalinkPage}{PostSummary}{/block:PermalinkPage}" />
<link rel="shortcut icon" href="{Favicon}" />
<link rel="alternate" type="application/rss+xml" title="RSS" href="{RSS}"/> -->
				
<!-- stylesheets -->
<link rel="stylesheet" type="text/css" media="all" href="https://static.tumblr.com/od9rmlx/8vzl2oidp/framework.css"/>
<link title="Laboratorium Styles" rel="stylesheet"  type="text/css" href="{{site.baseurl}}/assets/css/lab.css"/>
<link title="Featherlight Styles" rel="stylesheet" type="text/css" href="//cdn.rawgit.com/noelboss/featherlight/1.2.3/release/featherlight.min.css"  />

<!-- scripts -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript"> 
	var auto = $.jqwidont.auto(); // is automatic initialisation enabled?
	$.jqwidont.auto(false);       // disable it
	$('h4').widont();
</script> 