---
layout: default
---

<h4><a href="{{page.url}}" class="title"> {{page.title}}</a></h4>
			
<div class="text line">
	
	<div class="post unit">
		{{content}}	
	</div>
	
	<div class="smaller caption unit lastUnit">
		<a class="datelink" href="{{page.url}}">{{page.date | date: "%B %-d, %Y"}}</a> <br/>	
	</div>
</div>
</div>	
	<p class="smaller tags"><em>
	{% for tag in page.tags %}
	&#x2733; <a href="/tags/{{tag}}" class="tag">{{tag}}</a>&nbsp;
	{% endfor %}
</em></p>		


	
<!-- next/previous -->
<div class="footer">		
	<div class="pagination line">
		<div class="unit size1of2 prev">
			{% if page.next %}
			<p>Newer:<br>&larr; <a href="{{page.next.url}}">{{page.next.title}}</a></p>
			{% endif %}
		</div>
		<div class="unit size1of2 lastUnit next">	
			{% if page.previous %}
			<p class="align-right">Older:<br><a href="{{page.previous.url}}">{{page.previous.title}}</a> &rarr;</p>
			{% endif %}
		</div>
	</div> 
